/* #041340; */
:root {
    --background:#211C40;
    --text: #3B0E59;
    --sec_und: #6568A6;
    --gold: #BF9969;
    --heading_und:#9973BF;
    --black: #171321;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --syne: Syne, sans-serif;
    --inter: Inter, sans-serif;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* generic styles for the page */
body {
    padding: 0;
    margin: 0;
    font-family: var(--syne);
    background-color:var(--background);
    /* color: var(--black); */
    color:var(--gold);
    font-size: var(--font-size);
    align-content:center;
}

h1,h2,h3 {
  margin: 0;
}

/* navbar*/
nav {
    font-family:var(--syne);
    font-size: 80%;
    text-align:center;
  }
  nav h1 {
    font-family: var(--inter);

  }
  nav ul{
    list-style-type:none;
    padding:.3rem 0 0 0;
    margin:0;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items:center;
    gap: 2rem;

  }
  nav a {
    color: var(--sec_und);
    text-decoration:none;
    display:block;

  }
  nav a:not(.button):hover{
    color:var(--gold);
    text-decoration:overline;
  }
  nav li:first-child{
    flex-basis:100%;
    text-align:center;
  }
  nav [class*="fa-"]{
    font-size:150%;
  }
  nav h1 [class*="fa-"]{
    font-size:100%;
    color:var(--gold);
  }
  .button {
    background:var(--heading_und);
    color: var(--white);
    padding:.5rem;
    border-radius:5px;
  }
  .button:hover {
    background-color:var(--gold);
    color:black;
  }
  .wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
}
section:not([id="intro"]) {
    margin-top:3rem;
    padding-bottom:5rem;
    border-bottom: 5px solid var(--sec_und);
    width:100%;
}

#intro{
    width:100%;
    margin-top:15rem;
    margin-bottom:3rem;
    padding-top:3rem;
    padding-bottom:7.5rem;
    border-bottom: 5px solid var(--sec_und);
}

#intro > h2{
    font-size: 10rem;
}
#intro h2 span{
    color:var(--gold);
}
#intro p {
    font-size:2rem;
}
#intro{

    width:100%;
}
.tagline{
    color: var(--gold)
}

.container {
    margin-top:3rem;
    display:flex;
    flex-flow: row nowrap;
}
#tcas div > p{
    margin-top:2rem;
    font-size:2rem;
}
#tcas > h2 {
    display:inline;
    font-size: 3rem;
    border-bottom: 5px solid var(--heading_und);
}
.floatright {
    float:right;
}
.heading {
    display:inline;
    font-size: 3rem;
    border-bottom: 5px solid var(--heading_und);
}

.goldisbest{
    color: var(--gold);
}


  @media (min-width:850px) {
    nav {
      max-width: 1200px;
      margin: 0 auto;
    }
    nav li:first-child {
      flex-basis:auto;
      text-align: left;
      margin-right: auto;
    }
  }
